<section id="nuestros-servicios">
  <div class="container">
    <h1>Seleccione el Plan a contratar</h1>
    <div style="text-align: right">
      <button class="btn btn-success btncrear"  (click)="abrirdialogoPlanes()"><mat-icon>add</mat-icon> Nuevo Plan</button>
    </div>

    <div class="grid-container" >
      <div class="grid-item" *ngFor="let plan of listaPlanes">
        <img   class="img"   src="{{plan.imagen}}" alt="">
        <br><br>
        <span><strong>Nombre:</strong> {{plan.nombre_p}}</span><br>
        <span><strong>Costo:</strong> {{plan.costo_p}}</span><br>
        <span><strong>Descripción:</strong> {{plan.descripcion_plan}}</span><br>
        <span><strong>Pago Mensual:</strong> {{plan.p_costo_mensual}}</span><br>
        <span><strong>Modelo:</strong> {{plan.modelo.nombre}}</span><br><br>
        <button class="btn btn-primary" (click)="abrirdialogoPlanesEdit(plan.id_plan)">Editar</button>
        <button  style="margin-left: 10px" class="btn btn-success" [routerLink]="['/nuevoservicio',plan.id_plan]">Contratar</button>
      </div>
    </div>
  </div>

<!-- dialo de  planes--->
  <ng-template #dialogNplan>
    <div style="text-align: center">
    <form [formGroup]="VNuevoPlanFormGroup" >
      <h2 style="text-align: center"> {{titulo}} </h2>
    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label>Nombre plan</mat-label>
      <input matInput  name="nombre_p"  [(ngModel)]="plan.nombre_p"  formControlName="nombre_p" id="nombre_p"/>
      <mat-error *ngIf="hasError('nombre_p', 'required')">Nombre del plan <strong>requerido</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label>Costo plan</mat-label>
      <input type="number" matInput name="costo_p" [(ngModel)]="plan.costo_p" formControlName="costo_p" id="costo_p"/>
      <mat-error *ngIf="hasError('costo_p', 'required')">Costo del plan <strong>requerido</strong></mat-error>
    </mat-form-field>

      <div style="text-align: center">
        <mat-label>Subir Foto</mat-label><br />
        <input type="file" accept=".png, .jpg, .jpeg" (change)="cargarImg($event)" formControlName="imagen" id="imagen"/>
        <br><br>
        <img style="width: 90%;" src="{{ plan.imagen}}" alt="" />
      </div>
      <br>
    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label>Descripcion</mat-label>
      <mat-select  [(ngModel)]="plan.descripcion_plan" name="descripcion_p" formControlName="descripcion_p" id="descripcion_p">
        <mat-option value="anual">ANUAL</mat-option>
        <mat-option value="semestral">SEMESTRAL</mat-option>
        <mat-option value="cuatrimestral">CUATRIMESTRAL</mat-option>
        <mat-option value="trimestral">TRIMESTRAL</mat-option>
        <mat-option value="bimestral">BIMESTRAL</mat-option>
        <mat-option value="mensual">MENSUAL</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('descripcion_p', 'required')">Descripcion de plan <strong>requerido</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label>Costo mensual</mat-label>
      <input type="number" matInput  name="costo" [(ngModel)]="plan.p_costo_mensual" formControlName="costo" id="costo"/>
      <mat-error *ngIf="hasError('costo', 'required')">Costo mensual<strong>requerido</strong></mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label >Estado plan</mat-label>
      <mat-select [(ngModel)]="plan.estado_plan" name="estado_plan" formControlName="estado_plan" id="estado_plan" required>
        <mat-option value="activo">ACTIVO</mat-option>
        <mat-option value="inactivo">FUERA DE SERVICIO</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('estado_plan', 'required')">Estado <strong>requerido</strong></mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 40%; margin-left: 5px">
      <mat-label>Modelo GPS</mat-label>
      <mat-select [(ngModel)]="modelo.id_modelo" name="modelo" formControlName="modelo" id="descripcion_p">
        <mat-option *ngFor="let modelo of listaModelo" [value]="modelo.id_modelo">
          {{modelo.nombre}}
        </mat-option>
        <mat-option [value]="0" *ngIf="modelotodo">Todo Modelo</mat-option>
      </mat-select>
      <mat-error *ngIf="hasError('modelo', 'required')">Modelo <strong>requerido</strong></mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="warn"   mat-dialog-close>Cancelar</button>
    <button style="margin-left: 10px" *ngIf="guardar" mat-raised-button color="primary"   (click)="GuardarPlan()" [disabled]="!VNuevoPlanFormGroup.valid"><mat-icon>save</mat-icon>Guardar</button>
      <button style="margin-left: 10px"  *ngIf="editar" mat-raised-button color="primary"   (click)="EditarPlan()" [disabled]="!VNuevoPlanFormGroup.valid"><mat-icon>save</mat-icon>Editar</button>
    </form>
    </div>
  </ng-template>


</section>



