table {
  width: 100%;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,auto));
  grid-gap: 2%;
  margin-left: 3%;
  grid-auto-flow: dense;
}

.grid1{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px,auto));
  grid-gap: 2%;
  margin-left: 3%;
  grid-auto-flow: dense;
}

.center{
  width: 95%;
  text-align: center;
  margin: 1% auto;
}

ng-container{
  text-align: center;
}

.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}
.btnEdi{
  background: #428bca;
  border-radius: 5px;
}

.btnEdi:hover{
  background: blue;
  cursor: pointer;
  transition: .5s;
}

button{
  border: transparent;
  background-color: transparent;
}

.btnEli{
  background: #F65B3A;
  border-radius: 5px;
}

.btnEli:hover{
  background: red;
  cursor: pointer;
  transition: .5s;
}

@media (max-width: 800px) {

  .media1 {
    display: none;
  }
  .textmedia{
    font-size: 14px;
  }

  .btnEdi {
    font-size: 20px;
    text-align: center;
  }

  .btnEli {
    font-size: 20px;
    text-align: center;
  }

  .titulo {
    font-size: 16px;
    font-weight: bold;
  }

  .center1{
    width: 100%;
  }
}

@media (max-width: 600px) {
  .media {
    display: none;
  }
  .textmedia{
    font-size: 10px;
  }

  .btnEdi {
    margin-top: 15%;
    width: 18px;
    height: 18px;
    font-size: 17px;
    text-align: center;
  }

  .btnEli {
    margin-top: 15%;
    width: 18px;
    height: 18px;
    font-size: 17px;
    text-align: center;
  }

  .titulo {
    font-size: 12px;
    font-weight: bold;
  }

  .center1{
    width: 100%;
  }
  .center{
    margin: 5% auto;
  }
}

@media (max-width: 400px) {

  .textmedia{
    font-size: 9px;
  }

  .btnEdi {
    margin-top: 8px;
    width: 100%;
    height: 75%;
    font-size: 15px;
    text-align: center;
  }

  .btnEli {
    margin-top: 8px;
    width: 100%;
    height: 75%;
    font-size: 15px;
    text-align: center;
  }


  .titulo {
    font-size: 10px;
    font-weight: bold;
  }
  .center{
    margin: 2% auto;
  }
}

.centrarli{
  text-align: center;
}

.mat-column-id{
  padding: 0;
  text-align: left;
}

.mat-column-activar{
  padding: 0;
  text-align: left;
}

.mat-column-eliminar{
  padding: 0;
  text-align: left;
}

.mat-column-editar{
  padding: 0;
  text-align: left;
}

.mat-column-detalles{
  padding: 0;
  text-align: left;
}

.mat-column-estadoSer{
  padding: 0;
  text-align: left;
}

.mat-column-hora{
  padding: 0;
  text-align: left;
}

.mat-column-fechas{
  padding: 0;
  text-align: left;
}
.mat-column-fechaI{
  padding: 0;
  text-align: left;
}

.mat-column-fechaF{
  padding: 0;
  text-align: left;
}

.mat-column-fechaFinPlan{
  padding: 0;
  text-align: left;
}

