
<div>
  <mat-card class="rol">
    <mat-card-title>SELECCIONE SU ROL</mat-card-title>
    <mat-card-subtitle>Roles disponibles:</mat-card-subtitle>
    <mat-card-actions>
      <mat-grid-list cols="3" rowHeight="4:4">
        <mat-grid-tile style="background-color: aqua">
          <button
            style="background-image: url('assets/images/administrador.png')" class="rolButtom" mat-stroked-button>ADMINISTRADOR</button>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: aliceblue">
          <button style="background-image: url('assets/images/medico.png')" class="rolButtom" mat-stroked-button>TRABAJADOR</button>
        </mat-grid-tile>
        <mat-grid-tile style="background-color: coral">
          <button class="rolButtom" style="background-image: url('assets/images/examination.png')" mat-stroked-button >MECANICO</button>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-actions>
  </mat-card>
</div>



