<div class="center">
  <mat-card-title>Lista de Modelos</mat-card-title>
  <br>
  <mat-card-subtitle>Modelos GPS de APECS</mat-card-subtitle>
</div>

<button class="btn btn-primary btncrear"  (click)="abrirdialogoC()">Crear Nuevo Modelo</button>


<div class="mat-elevation-z8 center">

  <table mat-table [dataSource]="dataSourceM" class="mat-elevation-z8 " #tabla1>

    <ng-container matColumnDef="idM">
      <th class="titulo" mat-header-cell *matHeaderCellDef> ID </th>
      <td class="textmedia" mat-cell *matCellDef="let row"> {{row.id_modelo}} </td>
    </ng-container>

    <ng-container matColumnDef="nombreM">
      <th class="titulo media" mat-header-cell *matHeaderCellDef> Nombre </th>
      <td class="media" mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="EstadoM">
      <th class="titulo media" mat-header-cell *matHeaderCellDef> Estado </th>
      <td class="media" mat-cell *matCellDef="let row"> {{row.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="Acciones">
      <th class="titulo media" mat-header-cell *matHeaderCellDef> Acciones </th>
      <td class="media" mat-cell *matCellDef="let row"> <button (click)="abrirdialogoAcciones(row.id_modelo)"><mat-icon class="btnEdi">remove_red_eye</mat-icon></button> </td>
    </ng-container>

    <ng-container matColumnDef="editar">
      <th class="titulo" mat-header-cell *matHeaderCellDef> Editar </th>
      <td mat-cell *matCellDef="let row"><button title="Edición del modelo" (click)="abrirdialogoEdi(row.id_modelo)"><mat-icon class="btnEdi">edit</mat-icon></button></td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th class="titulo" mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let row">
        <button title="Deshabilitación del modelo" (click)="abrirdialogoEliminar(row);" *ngIf="row.estado=='Activo'"><mat-icon class="btnEli">delete</mat-icon></button>
        <button title="Habilitación del modelo" (click)="abrirdialogoActivar(row);" *ngIf="row.estado=='Inactivo'"><mat-icon class="btnEdi">how_to_reg</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasM"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasM;"></tr>
  </table>
  <mat-paginator class="center1" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
</div>

<ng-template #dialogRef >
  <h2> {{titulo}} </h2>
  <form [formGroup]="validacionModelo">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput name="nombre" [(ngModel)]="modelo.nombre" formControlName="nombre" id="nombre"/>
      <mat-error *ngIf="hasError('nombre', 'required')">Nombre de modelo requerido</mat-error>
    </mat-form-field>
  </form>
  <br>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close (click)="crearModelo()" *ngIf="creating" [disabled]="!validacionModelo.valid">Guardar</button>
  <button mat-button mat-dialog-close (click)="editarModelo()" *ngIf="editing">Editar</button>
</ng-template>

<ng-template #dialogRefAc >
  <h2> Acciones de modelo {{accion.modelo.nombre}} </h2>
  <br>
  <form #formulario="ngForm">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput name="cliente" [(ngModel)]="accionSet.nombre" required/>
    </mat-form-field>
    <button style="background: #428bca;color: black; margin-left: 5px" mat-button color="primary" [disabled]="!formulario.valid" (click)="agregarAcciones()" *ngIf="crear"><mat-icon>add</mat-icon></button>
    <button style="background: #428bca;color: black; margin-left: 5px" mat-button color="primary" [disabled]="!formulario.valid" (click)="EditarAcciones(accionSet)" *ngIf="editar"><mat-icon>edit</mat-icon></button>
  </form>
  <br>
  <span *ngFor="let ac of listaAcciones">
    <span>{{ac.nombre}}
      <button (click)="EliminarAcciones(ac)"><mat-icon>delete_forever</mat-icon></button>
      <button (click)="cargardato(ac)"><mat-icon>edit</mat-icon></button>
    </span>
    <br>
  </span>
  <br>
  <button mat-button color="warn" mat-dialog-close><mat-icon>close</mat-icon>Cerrar</button>
</ng-template>

<ng-template #dialogEliminar >
  <h2 style="text-align: center"> <strong>{{title}}</strong> </h2>
  <br>
  <button mat-button mat-dialog-close color="warn"><mat-icon>save</mat-icon> CANCELAR</button>
  <button *ngIf="eliminar" mat-button mat-dialog-close color="primary" (click)="EliminarModelo()"><mat-icon>save</mat-icon> ELIMINAR</button>
  <button *ngIf="activar" mat-button mat-dialog-close color="primary" (click)="ActivarModelo()"><mat-icon>save</mat-icon> ACTIVAR</button>
</ng-template>
