
<div class="log-in" >
  <mat-card class="example-card">

      <img src="assets/log.png" class="avatar" alt="Avatar Image">
      <br>
      <br>
      <br>
      <div class="ds">
        <mat-card-subtitle style="text-align:center">Usuarios Coordenada</mat-card-subtitle>
      </div>
    <mat-card-content>
      <br>
      <form [formGroup]="profileFormUser">
        <p style="text-align:center">CREDENCIALES:</p>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>EMAIL</mat-label>
          <mat-icon matSuffix class="enail">email</mat-icon>
          <input matInput placeholder="abc@example.com" formControlName="email" [(ngModel)]="login.email">
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>CONTRASEÑA</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"  formControlName="contrasena" [(ngModel)]="login.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon class="mensaje">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-card-actions style="text-align: center">
          <button  mat-stroked-button color="primary" class="btniniciarSesion" (click)="iniciarSesion()" [disabled]="profileFormUser.invalid"   >Iniciar Sesión</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<ng-container *ngIf="false">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>

