.rol{
  margin: 5% auto;
  width: 60%;
}
.rolButtom{
  color: #5b5050;
  text-align: revert;
  font-size: 20px;
  background-size: 100%;
  width: 100%;
  height: 100%;
}
.example-card {
  margin: 5% auto;
  max-width: 400px;
}
.example-header-image {
  /*background-image: url('../src/assets/log.png');*/
  background-size: cover;
}
.avatar {
  width: 65px;
  height: 65px;
  alignment: center;
  position: absolute;
  left: calc(57% - 60px);
}
.ds{
  text-align: center;
  position: absolute;
  left: calc(45% - 50px);
}
.enail{
  color:#428bca;
}
.mensaje{
  color:#428bca;
}


