.center{
  width: 80%;
  text-align: center;
  margin: 1% auto;
}

.tables{
  margin-top: 10px;
}

table {
  width: 100%;
}

.btn{
  margin-left: 5px;
}

th.mat-sort-header-sorted {
  color: black;
}

.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px,auto));
  grid-gap: 5%;
  grid-auto-flow: dense;
}

.grids{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px,auto));
  grid-gap: 5%;
  grid-auto-flow: dense;
}


.step{
  position: fixed;
}

td{
  border: 1px solid;
}
.example-viewport {
  height: 200px;
  width: auto;
}

ng-template{
  position: fixed;
}
.titulo{
  text-align: center;
  font-weight: bold;
  font-size: 100%;
}

mat-form-field {
  width: 60%;
}

.mediat{
  display: none;
}
@media (max-width: 800px) {
  .mediat{
    display: block;
  }
  .mediast{
    display: none;
  }
  .center{
    width: 100%;
    text-align: center;
    margin: 1% auto;
  }

  mat-form-field {
    width: 80%;
  }
}
