<div class="center">
  <mat-card-title>GENERAR DOCUMENTO DE INSTALACIÓN</mat-card-title>
</div>

<div class="center">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step>
          <div>
            <mat-card-title class="mediat">Datos Cliente</mat-card-title>
            <ng-template matStepLabel ><div class="mediast">Datos Cliente</div></ng-template>
            <form class="todostepper" [formGroup]="firstFormGroup">

                <h4>Ingrese la cecula del cliente</h4>
                <mat-form-field>
                  <input matInput formControlName="cedcli" placeholder="Cedula Cliente" (keyup)="buscarCliente($event)" Enabl style="width: 93%; margin-left: 2px"/>
                  <mat-icon class="sep">search</mat-icon>
                </mat-form-field>
              <br><br>

            </form>
            <!--Datos-->
            <div *ngIf="cliente.cedula!=null" style="text-align: center">
              <div class="grid">
                <span><strong>Cedula: </strong>{{cliente.cedula}}</span>
                <span><strong>Nombres: </strong>{{cliente.nombre}}</span>
                <span><strong>Telefono: </strong>{{cliente.telefono}}</span>
                <span><strong>Dirección: </strong>{{cliente.direccion}}</span>
                <span><strong>Contacto: </strong>{{cliente.contacto}}</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <button mat-raised-button color="primary"  matStepperNext *ngIf="cliente.cedula!=null">Siguiente</button>
          </div>

      </mat-step>
      <mat-step [stepControl]="firstFormGroup">
        <form class="todostepper">
          <ng-template matStepLabel><div class="mediast">Asignación</div></ng-template>
          <div class="grids">
            <div *ngIf="listavehiculos.length>0">
              <mat-card-title class="mediat">Datos Vehiculo</mat-card-title>
              <h2>Seleccione un imei para cada vehiculo</h2>

              <table mat-table [dataSource]="dataSourcesin" matSort (matSortChange)="announceSortChange($event)"
                     class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <strong>ID</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.id_vehiculo}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="placa">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by placa">
                    <strong>Placa</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.placa}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="vehiculo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    <strong>Vehiculo</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.vehiculo}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="imei">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    <strong>Imei</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> <button class="btn btn-primary" (click)="addImei(element.id_vehiculo)">Add Imei</button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnssingps"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnssingps;"></tr>
              </table>
            </div>

            <div *ngIf="listavehiculosAsignados.length>0">
              <h2>Vehiculos a guardar</h2>

              <table mat-table [dataSource]="dataSourcecon" matSort (matSortChange)="announceSortChange($event)"
                     class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                    <strong>ID</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.vehiculo.id_vehiculo}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="placa">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by placa">
                    <strong>Placa</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.vehiculo.placa}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="vehiculo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                    <strong>Vehiculo</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.vehiculo.vehiculo}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="idg">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    <strong>ID</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.gps.id_gps}} </td>
                </ng-container>

                <ng-container matColumnDef="imei">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    <strong>Imei</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.gps.imei_gps}} </td>
                </ng-container>

                <ng-container matColumnDef="modelo">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    <strong>Modelo</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> {{element.gps.modelo.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="quitar">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                    <strong>Quitar</strong>
                  </th>
                  <td mat-cell *matCellDef="let element"> <button class="btn btn-danger" (click)="Quitar(element.vehiculo.id_vehiculo)">	<mat-icon>close</mat-icon></button> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnscon"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnscon;"></tr>
              </table>
            </div>

          </div>
          <br><br>
          <div>
            <button class="btn" mat-raised-button color="warn" matStepperPrevious>Atras</button>
            <button class="btn" mat-raised-button color="primary" [disabled]="listavehiculosAsignados.length<=0" matStepperNext>Siguiente</button>
          </div>
        </form>
      </mat-step>
      <mat-step >
        <div class="example-card ">
          <mat-card-title class="mediat">Confirmación</mat-card-title>
          <ng-template matStepLabel><div class="mediast">Confirmación</div></ng-template>
          <mat-card-content>
            <div style="text-align: center">
              <strong>Información general del servicio:</strong>
              <br><br><br>
            </div>

            <div class="grid">
              <p><strong>Cedula: </strong> {{cliente.cedula}}</p>
              <p><strong>Nombre: </strong> {{cliente.nombre}}</p>
              <p><strong>Nombre Contacto: </strong> {{cliente.contacto}}</p>
              <p><strong>Fecha Entrega:</strong> {{servicio.fecha_ds | date:'dd/MM/yyyy'}}</p>
              <p><strong>Hora:</strong> {{servicio.hora}}</p>
            </div>

                <h4>VEHICULOS - GPS:</h4>

                <table *ngIf="listavehiculosAsignados.length>0" mat-table [dataSource]="dataSourcecon" matSort (matSortChange)="announceSortChange($event)"
                   class="mat-elevation-z8">

              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">
                  <strong>Placa</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.vehiculo.placa}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="placa">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by placa">
                  <strong>Vehiculo</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.vehiculo.vehiculo}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="vehiculo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by weight">
                  <strong>ID</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gps.id_gps}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="idg">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                  <strong>Imei</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gps.imei_gps}} </td>
              </ng-container>

              <ng-container matColumnDef="imei">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                  <strong>Imei</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.gps.modelo.nombre}} </td>
              </ng-container>

              <ng-container matColumnDef="modelo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                  <strong>Observación</strong>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.observacion}} </td>
              </ng-container>

              <ng-container matColumnDef="quitar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol">
                  <strong>Ubicación</strong>
                </th>
                <td mat-cell *matCellDef="let element">{{element.ubicacion}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnscon"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnscon;"></tr>
            </table>

            <h3 style="color: #F65B3A" *ngIf="listavehiculosAsignados.length<=0"><strong>Ningun vehiculo Asignado</strong></h3>

          </mat-card-content>
        </div>
        <br><br>
        <mat-card-actions>
          <button class="btn" mat-raised-button matStepperPrevious color="warn">Atras</button>
          <button class="btn" mat-raised-button (click)="guardaServicio()"color="accent">Guardar Servicio</button>
          <button class="btn" mat-raised-button (click)="createPdf()" color="primary">Imprimir</button>
        </mat-card-actions>

      </mat-step>
    </mat-horizontal-stepper>
</div>

<ng-template #dialogRef >
  <div [formGroup]="Dialogvalid">
  <div class="center">

  <h2> Ingrese el Imei </h2>
  <br>
  <mat-form-field appearance="legacy">
    <mat-label>Imei</mat-label>
    <input (keyup)="flitrarimei($event)" matInput placeholder="Numero de Imei"  style="width: 70%; margin-left: 5px" formControlName="imei" id="imei" autocomplete="off"/>
    <mat-icon>search</mat-icon>
  </mat-form-field>
  <br>
  <h4>GPS</h4>
  <span>Imei: {{gps.imei_gps}}</span><br>
  <span>Modelo: {{gps.modelo.nombre}}</span>
  <h4>Acciones</h4>
    <div *ngFor="let ac of listaAcciones">
      <span>{{ac.nombre}}</span>
    </div>

  <br>
  <mat-form-field>
    <input matInput placeholder="Observaciones" name="observacion" [(ngModel)]="obser" formControlName="ubica" id="ubica"/>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Ubicacion" name="ubicacion" [(ngModel)]="ubica" formControlName="obser" id="obser"/>
  </mat-form-field>
  <br>
  <button  mat-raised-button color="warn" mat-button mat-dialog-close>Cerrar</button>
  <button class="btn btn-primary" (click)="Agregarlista()"[disabled]="!Dialogvalid.valid" >Guardar</button>
  </div>
  </div>
</ng-template>

