<div>
  <mat-card class="example-card">
      <div class="center"><h2>PRIMER INGRESO A COORDENADA</h2></div>
      <div class="center"><span>Necesita actualizar algunos datos antes de ingresar al sistema de coordenada</span></div>
    <br>
    <form  [formGroup]="formUser" class="grid">

      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
          <mat-label>Nombres completos</mat-label>
          <input matInput placeholder="Ex. Angel Villa" formControlName="nombre" [(ngModel)]="user.nombre">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
            <mat-label>Dirección</mat-label>
            <input matInput placeholder="Ex. AV Americas"  formControlName="direccion" [(ngModel)]="user.direccion">
          </mat-form-field>
        </mat-card-content>

      <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
            <mat-label>Teléfono</mat-label>
            <input matInput placeholder="Ex. 0000087383"  formControlName="telefono" [(ngModel)]="user.telefono">
          </mat-form-field>
        </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
          <mat-label>Correo</mat-label>
          <input matInput placeholder="Ex. ejemplo@gmail.com"  formControlName="correo" [(ngModel)]="user.correo" [disabled]="true">
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"   formControlName="contra" [(ngModel)]="user.password">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

      <mat-card-content>
        <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
          <mat-label>Repetir Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'"   formControlName="contra" [(ngModel)]="otracontras">
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </mat-card-content>

    </form>

    <mat-card-actions style="width: 100%; text-align: center">
      <button mat-raised-button color="accent" (click)="UpdateUs()" [disabled]="formUser.invalid">REGISTRASE</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-container *ngIf="false">
  <div class="bss-loader" style="margin: 0 auto;">
    <mat-progress-bar color="warn" mode="indeterminate"></mat-progress-bar>
  </div>
</ng-container>

